@model ASP.Blog.BLL.ViewModels.UserViewModel

@{
    ViewData["Title"] = "EditUser";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Обновление пользовательских данных</h2>
<div class="tag-block">
    <form method="post" asp-action="Update" asp-controller="User">
        @foreach(var role in Model.CheckedRolesDic)
        {
            if (role.Value == true)
            {
                <input type="checkbox" name="SelectedRoles" checked="checked" value=@role.Key.Id />
            }
            else
            {
                <input type="checkbox" name="SelectedRoles" value=@role.Key.Id />
            }
            <label>@role.Key.Name</label>
        }
        <div class="frm_text mrgn">
            <input class="frm_text" asp-for="Id" type="text" value="@Model.Id" hidden />            
        </div>
        <div class="mrgn">
            <label asp-for="Last_Name"></label><br />
            <input asp-for="Last_Name" />
        </div>
        <div class="mrgn">
            <label asp-for="First_Name"></label><br />
            <input asp-for="First_Name" />
        </div>
        <div class="frm mrgn">
            <label asp-for="Middle_Name"></label><br />
            <input class="frm_text" asp-for="Middle_Name" type="text" value="@Model.Middle_Name" />
        </div>
        <div class="mrgn">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
        </div>
        <div class="mrgn">День рождения</div>
        <div class="mrgn">
            <input asp-for="BirthDate" type="date" value="@Model.BirthDate" />
        </div>
        <div class="center">
            <input class="enter-submit" type="submit" value="Обновить"/>
        </div>
    </form>    

    <script src="http://code.jquery.com/jquery-latest.js"></script>

</div>