@model List<ASP.Blog.BLL.ViewModels.Article.ArticleViewModel>

@using ASP.Blog.Data.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;


@{
    ViewData["Title"] = "Cтатьи пользователя";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>Все статьи</h2>
<div>    
    @if (SignInManager.IsSignedIn(User))
    {
        <form method="get" asp-controller="Article" asp-action="AllArticles">
            @foreach(var article in Model)
            {
                <div>
                    <hr>
                    <textarea placeholder="Текст статьи">@article.Content</textarea>        
                </div>
            }
        </form>
    }
    else
    {
        <h4>Эти статьи может увидеть любой пользователь.</h4>
    }
</div>
