@model List<ASP.Blog.BLL.ViewModels.Tag.TagViewModel>

@using ASP.Blog.DAL.Entities

@{
    ViewData["Title"] = "Все теги";
}
<div>
    @foreach(var tag in Model)
    {
        <div class="tag-block">
            <hr>
            <textarea class="textarea" placeholder="Тег">@tag.Tag_Name</textarea>
            <a method="get" asp-action="Update" asp-route-id=@tag.Id >Редактировать</a>
            <a method="post" asp-controller="Tag" asp-action="Delete" asp-route-id=@tag.Id >Удалить</a>
        </div>
    }
    <div>
        <hr>
        <form method="get" asp-controller="Tag" asp-action="AddTag">
            <input class="enter_submit" type="submit" value="Добавить" />
        </form>
    </div>
</div>